
{% extends "base.html" %}

{% block content %}
{% load static %}

    <div class="sankar_img"><img src="{% static 'sankar.png' %}"> </div>
    <div class="about">
    <h1>About Me</h1>
    <p>Hello! I'm <strong>Sankar Desamsetti</strong>, a passionate and dedicated software developer with a strong interest in programming and problem-solving. I have a Bachelor of Technology in Computer Science and Engineering from Aditya Engineering College, Surampalem, with a CGPA of 8.33. I also completed my senior secondary education in MPC with a CGPA of 9.67 from Kites Junior College, Atchutapuram.</p>

    <h2>Work Experience</h2>
    <p>During my work experience as a Software Developer Intern at TECHNICALHUB from October 2021 to December 2021, I gained valuable hands-on experience. I designed and developed a flexible CodeMind Problem Setter Dashboard using HTML, CSS, and Ejs, which empowered authenticated users to seamlessly upload and manage coding problems. Implementing the Problem Setter Dashboard resulted in a notable 10% increase in user interaction, significantly improving user engagement.</p>

    <h2>Skills</h2>
    <p>In terms of skills, I am proficient in programming languages such as <strong>C++, C, Java, Python, JavaScript, and Kotlin</strong>. I have experience in software development using technologies like <strong>React, Redux, Node.js, MongoDB, MySQL, Firebase, Android Studio, and Django</strong>. Additionally, I am skilled in competitive coding, data structures and algorithms, and microservices. I am familiar with developer tools such as <strong>Git, VS Code, and Chrome Storage</strong>.</p>

    <h2>Projects</h2>
    <p>I have worked on several projects that showcase my skills. One of them is CryptoMan, a React-based application integrated with Firebase, Material UI, and Chart.js. I improved the performance of the Crypto Currency data display by seamlessly integrating Axios with the CoinGecko API. I implemented secure user authentication using Google Authentication and leveraged Firestore for storing and managing user details.</p>

    <p>Another project is a feature-rich blog website developed using HTML, CSS, EJS, Node.js, and MongoDB. I implemented server-side rendering through a Node.js server and integrated MongoDB Atlas as the backend database. The application includes CRUD functionality, allowing users to create, edit, and delete blog posts.</p>

    <p>In a Python project, I developed a Movie Recommendation System using TFIDF vectorizer and Cosine Similarity. The system suggests similar movies based on the description of movie data.</p>

    <h2>Achievements</h2>
    <ul class="achievement-list">
        <li>4 Star coder at <a href="https://www.codechef.com/users/sankar6305"><strong>CODECHEF</strong></a></li>
        <li>Achieved AIR 20 in Atcoder Regular contest 150</li>
        <li>Pupil at <a href="https://codeforces.com/profile/sankar6305"><strong>CODEFORCES</strong></a></li>
        <li>Green coder at Atcoder</li>
        <li>Secured 3rd place in SQL query Competition organized by Oracle Academy</li>
        <li>Solved 800+ problems in Leetcode</li>
        <li>Solved 600+ problems in GeeksForGeeks</li>
        <li>Ranked below 1400 in Google Kickstart</li>
        <li>Achieved a 100% completion rate in all five levels of the highly selective Google Foobar Challenge</li>
    </ul>

    <h2>Course Work</h2>
    <p>In terms of coursework, I have studied subjects like Data Structures and Algorithms, Database Management Systems, Operating Systems, Object-Oriented Programming, Computer Networks, and Design and Analysis of Algorithms.</p>

    <p>Thank you for visiting my portfolio website. I am excited about the opportunity to connect and collaborate on impactful projects.</p>
    </div>

{% endblock %}
