{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="header_class">
        <nav class="remain">
            <ul class="remain_ul">
                <li><a href="#">About</a></li>
                <li><a href="{% static 'Resume_sankar_desamsetti.pdf' %}">Resume</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="Home_btn"><a href="{% url 'home'%}">Sankar's Portfolio</a></h1> <br>
    {% block content %}{% endblock %}

</body>
</html>