
{% extends "base.html" %}

{% block content %}
{% load static %}
    <a href="{% url 'about'%}"><div class="sankar_img"><img src="{% static 'sankar.png' %}"> </div></a>
    <div class="clickme"><img src="{% static 'clickme1.png' %}"></div>
    <h1 class="Project_tag">Projects</h1> <br>
    {% for project in projects %}
        <div class="card">
            <div class="project_img"><img src="{{ project.image.url }}"></div>
            
            <div class="project_title"><h1>{{ project.title }}</h1></div>
            <div class="project_technology">{{ project.technology }}</div>
            <div class="project_url"><a href="{{ project.url }}" target="_blank">View Project</a></div>
        </div>
    {% endfor %}

{% endblock %}